<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello home page</h1>
    <h2>Author : {{author}}</h2>
    <h2>Age    : {{age}}</h2>
    <h2>List    : {{lst}}</h2>


    <!-- Conditional statements -->
    {% if age >= 18 %}
        <h4>You are Eligible for Driving License</h4>
    {% elif age >= 10 and age < 18 %}
        <h4>You are not eligible</h4>
    {% else  %}
        <h4>You are just a child</h4>
    {% endif %}

    <h1>{{lst | join:" "}}</h1>
    <h1>{{birthday | date:"D d M Y" }}</h1>

    <!-- For loop  -->
     {% for i in courses %}
        <h4>{{i.id}} {{i.name}}  {{i.fee}}</h4>
    {% endfor %}
</body>
</html>